.general-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}

.deleteUpdate-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

.delete-btn {
  color: rgb(177, 4, 4);
  padding: 3px 7px 3px 7px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  height: 54px;
}

.update-btn {
  padding: 7px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
}

.nav-btn {
  color: rgba(0, 0, 0, 0.1);
  text-shadow: 3px 6px rgba(50, 50, 70, 0.05);
}

.active-btn {
  color: #fff;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
}

.location {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.temp {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  padding: 15px 25px;
  font-size: 50px;
  color: rgb(182, 179, 179);
  font-weight: 900;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}
