/* General Heading style*/

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-btn {
  color: rgb(7, 165, 7);
  padding: 7px;
  background-color: rgba(255, 255, 255, 0.7);
  /* border: 3px solid rgb(168, 167, 167); */
  border-radius: 20px;
  margin: 10px 0px 0px 10px;
}

.settings-btn {
  color: rgb(128, 126, 126);
  padding: 7px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  margin: 10px 10px 0px 0px;
}

.input-box {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0 0 20px 20px;
}

.input-box input {
  margin-top: 10px;
  width: 200px;
  height: 40px;
  font-size: 25px;

  text-align: center;
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

/* Settings container style*/

.settings-cont {
  position: absolute;
  max-width: 500px;
  left: 0px;
  right: 0px;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  /* border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; */
  color: rgb(168, 167, 167);
  max-height: 100%;
}
.settings-cont h5 {
  padding: 5px;
}

.close-btn {
  color: red;
}
/* CheckBoxes Style*/

.check-box-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.temp,
.auto-update,
.time-format {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
  height: 40px;
}

.settings-cont h4 {
  width: 70%;
  text-align: right;

  margin: 25px 15px 0 0;
}

.checkbox {
  position: relative;
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  background: #c6c6c6;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.checkbox:checked {
  background: #03f453;
}
.checkbox:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #fff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.checkbox:checked:before {
  left: 20px;
}
