.main {
  max-width: 720px;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  background: url("../img/backgrnd.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.no-cities-message {
  margin: 0 auto;
  margin-bottom: 500px;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  padding: 10px;
}
