body {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "Merriweather Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  height: 100vh;
  max-width: 600px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .App {
    max-width: auto;
  }
}
